<!-- Awal form Add Project -->
<div
  class="form-container d-flex justify-content-center align-items-center"
  style="background-color: #cecdcd"
>
  <form class="form-container" action="/add-project" method="POST">
    <h4 class="text-center m-3 fw-bold text-uppercase">Add My Project</h4>
    <!-- <div class="mb-4"> -->
    <label for="input-title" class="form-label">Project Name</label>
    <input
      type="text"
      class="form-control"
      id="input-title"
      placeholder="Your Project Name"
      name="projectName"
    />
    <!-- </div> -->

    <div class="d-flex justify-content-between">
      <div class="mb-4">
        <label for="startDate">Start Date</label>
        <input
          id="startDate"
          class="form-control mt-1"
          type="date"
          name="startDate"
        />
      </div>
      <div class="mb-4">
        <label for="endDate">End Date</label>
        <input
          id="endDate"
          class="form-control mt-1"
          type="date"
          name="endDate"
        />
      </div>
    </div>

    <div class="mb-4">
      <label for="input-description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="input-description"
        rows="2"
        name="description"
      ></textarea>
    </div>

    <div class="mb-2">
      <label class="form-check-label" for="nodeJs"> Technologies </label>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="nodeJs"
            name="checkboxInput"
            value="nodeJs"
          />
          <label class="form-check-label" for="nodeJs"> Node Js </label>
        </div>

        <div class="col-md-6 form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="nextJs"
            name="checkboxInput"
            value="nextJs"
          />
          <label class="form-check-label" for="nextJS"> Next Js </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="reactJs"
            name="checkboxInput"
            value="reactJs"
          />
          <label class="form-check-label" for="reactJs"> React Js </label>
        </div>

        <div class="col-md-6 form-check mb-4">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="typeScript"
            name="checkboxInput"
            value="typeScript"
          />
          <label class="form-check-label" for="typeScript">TypeScript </label>
        </div>
      </div>
    </div>

    <div class="mb-4">
      <label for="formFile" class="form-label">Upload Image</label>
      <input class="form-control" type="file" id="formFile" />
    </div>

    <div class="d-flex justify-content-end mb-3 mt-3">
      <button
        class="btn text-white rounded-pill ps-4 pe-4"
        style="background-color: rgb(0, 0, 0)"
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
<!-- Akhir Form contact -->
