<!-- Awal Home -->
<div class="jumbotron d-flex">
  <div
    class="container mt-5 mb-5"
    style="
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    "
  >
    <div class="row p-5">
      <div class="col-lg-8">
        <div class="row">
          <h4 class="mt-5 mb-4">Hi, I am Ujang</h4>
        </div>

        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-lg">
            <p style="text-align: justify; box-sizing: border-box">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit.
              Provident quibusdam praesentium animi, amet alias iste, dicta
              nostrum quae asperiores nemo adipisci minima nulla libero
              veritatis repudiandae iusto dignissimos itaque voluptatum maxime
              necessitatibus expedita error voluptas! Ea perferendis numquam
              eaque? Dolorum et tenetur illo delectus recusandae ad ipsum
              assumenda numquam laudantium, aut est, exercitationem impedit
              placeat, deserunt reiciendis sapiente nobis. Nemo consectetur,
            </p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-3">
            <button
              class="btn rounded-pill text-white pt-2 pb-2 ps-4 pe-4 text-decoration-none"
              style="background-color: black"
            >
              <a
                href="/contact.html"
                target="_blank"
                rel="noopener noreferrer"
                class="text-decoration-none text-white"
              >
                Contact
              </a>
            </button>
          </div>

          <div class="col-md">
            <button class="btn" style="border: none">
              <a
                class="download-icon text-black"
                href="/public/assets/img/image.jpg"
                target="_blank"
                rel="noopener noreferrer"
                download=""
                style="text-decoration: none"
                >Download CV

                <span
                  class="iconify"
                  data-icon="akar-icons:download"
                  data-width="15"
                  data-height="15"
                ></span>
              </a>
            </button>
          </div>

          <div class="row mt-4">
            <div class="col-md-1 mt-4 mb-4">
              <a
                href="https://www.linkedin.com/in/ujang-pudin-bb8717220/"
                target="_blank"
              >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>

            <div class="col-md-1 mt-4 mb-4">
              <a
                href="https://www.instagram.com/ujangpudin_up/"
                target="_blank"
              >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-instagram fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>

            <div class="col-md-1 mt-4 mb-4">
              <a
                href="https://id-id.facebook.com/ujang.remenin"
                target="_blank"
              >
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>

            <div class="col-md-1 mt-4 mb-4">
              <a href="https://twitter.com/Ujang_Pudin" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i> </span
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md justify-content-center align-items-center d-flex">
        <div class="card" style="max-width: 18rem; border-radius: 10px">
          <img
            src="/public/assets/img/profil.jpg"
            class="card-img-top"
            alt="Foto"
            style="border-radius: 10px 10px 0 0"
          />
          <div class="card-body">
            <h5
              class="card-title text-center fw-bold"
              style="box-sizing: border-box"
            >
              Ujang Pudin
            </h5>
            <p class="card-text text-center" style="box-sizing: border-box">
              Fullstack Developer
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Akhir Home -->

<!-- Awal Card Project-->

<section id="project">
  <div class="container mt-5 mb-5">
    <div class="row mb-3">
      <div class="col-md">
        <h3 class="text-center fw-bold">My Project</h3>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
      <div class="col-md-4">
        <div class="card h-100">
          <img
            src="/public/assets/img/1.jpg"
            class="card-img-top"
            alt="img"
            style="height: 250px"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <small class="text-muted">Last updated 3 mins ago</small>
            <p class="mt-4" style="text-align: justify">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer.
            </p>
          </div>

          <div
            class="row d-flex justify-content-center align-content-center text-center mb-4"
          >
            <div class="col-md">
              <span
                class="iconify"
                data-icon="logos:nextjs"
                style="color: rgba(0, 0, 0, 0)"
                data-width="50"
                data-height="50"
              ></span>
            </div>
            <div class="col-md">
              <span
                class="iconify"
                data-icon="vscode-icons:file-type-reactjs"
                style="color: rgba(0, 0, 0, 0)"
                data-width="50"
                data-height="50"
              ></span>
            </div>
            <div class="col-md">
              <span
                class="iconify"
                data-icon="logos:nodejs"
                style="color: rgba(0, 0, 0, 0)"
                data-width="50"
                data-height="50"
              ></span>
            </div>
            <div class="col-md">
              <span
                class="iconify"
                data-icon="cib:typescript"
                data-width="45"
                data-height="45"
              ></span>
            </div>
          </div>

          <div class="btn-group" role="group">
            <button
              type="button"
              class="btn btn-primary rounded"
              style="margin: auto 15px 2rem 1rem"
            >
              Left
            </button>
            <button
              type="button"
              class="btn btn-primary rounded"
              style="margin: auto 1rem 2rem 15px"
            >
              Right
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Alhir Card Project-->
